@import 'tailwindcss';
@import 'tw-animate-css';

@import './theme';
@import './animations.web';

@custom-variant dark (&:is(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
@custom-variant auto (&:where(.auto, .auto *));

@source '../../../apps/**/*.{ts,tsx}';
@source '../**/*.{ts,tsx}';

@plugin '@tailwindcss/typography';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
